@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import "_variables";
@import "~bootstrap/scss/bootstrap-grid";
@import "components/form";
@import "components/helpers";
@import "components/btn";
@import "components/card";
@import "components/table";

html, body {
	height: 100%;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

.main {
	padding: 50px 0px;
	background-image: url('/dist/img/clouds3.jpg');
	background-size: 100% auto;
	background-position: center center;
	height: 100%;
	width: 100%;
}

.temperature {
	font-size: 45px;
	margin: 0px;
}

.more-link {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.start-headling {
	font-size: 60px;
	text-align: center;
}

.back-link {
	font-size: 30px;	
	text-decoration: none;
	margin-bottom: 15px;
	display: block;
}