.d-table {
	display: table;
}

.d-table-cell {
	display: table-cell;
}

.align-middle {	
    vertical-align: middle;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center
}

.text-right {
	text-align: right
}

.text-white {
	color: #fff;
}

.text-lighter {
	font-weight: 300;
}

.ml-1 {
	margin-left: 5px;
}

.my-1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.my-2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.float-right {
	float: right;
}

.p-relative {
	position: relative;
}